/*------------------------------
  ----------> Navbar <------------
  --------------------------------
  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
  left: 0;
  z-index: 50;
}

nav .nav-menu-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

nav ul li a {
  transition: all ease 0.45s;
  font-weight: 600;
}

nav ul li:hover a {
  color: var(--green);
}

nav img {
  margin-left: 6rem;
  padding: 5px 0;
}

/********** NAV BUTTONS ********/
nav .header-buttons {
  display: flex;
  gap: 0.5rem;
  margin-right: 3rem;
}

nav .header-buttons a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  background-color: black;
  border-radius: 5rem;
  font-size: 1rem;
  border: 0.2rem solid var(--green);
  overflow: hidden;
}

.header-buttons a::before {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  height: 0%;
  width: 100%;
  background-color: var(--green);
  border-radius: 5rem;
  text-align: center;
  place-content: center;
  transition: all linear 0.3s;
}

.header-buttons a:first-child:hover::before {
  top: 0;
  height: 100%;
  content: "BOOK RANGE";
  scale: 1.1;
}

.header-buttons a:last-child:hover::before {
  top: 0;
  height: 100%;
  content: "BOOK GOLF";
  scale: 1.1;
}

/*** VIDEO ***/
.hero-video {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) -50%, transparent);
  position: absolute;
  width: 100vw;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
