@media (max-width: 575px) {
  nav {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    background-color: black !important;
    height: auto !important;
  }

  nav ul li:last-child {
    padding-bottom: 1rem;
  }

  nav .nav-toggler {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }

  nav img {
    margin-left: 1rem;
    margin-top: 10px;
  }

  nav .nav-menu-container {
    flex-direction: column;
    align-items: start;
  }

  nav .nav-menu-container ul {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    display: none;
  }

  /* nav .header-buttons {
    display: none;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
  } */

  /* nav .header-buttons a {
    padding: 0.5rem 1rem;
  } */

  /* ********************** Hero **************** */
  .hero {
    gap: 1.5remrem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    width: 90%;
  }

  /* ************ Text caraousel ***** */
  .carousel h1 {
    font-size: 4rem;
  }

  /* ********************** About section **************** */
  .about-us .about-content {
    flex-direction: column;
    gap: 2rem;
  }

  .about-us p {
    font-size: 1.5rem;
  }

  .about-us img {
    width: 19rem;
  }

  .about-container {
    gap: 3rem;
  }

  .about-us .para-container {
    padding: 0 1rem;
    margin-top: 0;
  }

  /* ********************** Cards section **************** */
  .cards-section {
    height: auto;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 5rem;
    gap: 2rem;
  }

  .card {
    width: 100%;
  }

  .card .overlay {
    opacity: 1;
    padding: 1rem 1rem;
  }

  .card .overlay h2 {
    font-size: 1.6rem;
  }

  /* ********************** Green div **************** */
  .green-div {
    margin-top: 6rem;
  }

  .green-div img {
    width: 3.5rem;
  }

  .green-div h2 {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  /* ********************** Qoute **************** */
  .quote-section {
    height: auto;
    margin-top: 4rem;
    padding-bottom: 3rem;
  }

  .quote-section p {
    width: 80%;
    font-size: 1.5rem;
  }

  .quote-section img {
    display: none;
  }

  /* ********************** Bottom cards **************** */
  .waiting-section {
    height: auto;
    padding-bottom: 2rem;
    margin-top: 3rem;
    flex-direction: column;
    gap: 2rem;
  }

  .bottom-card-container {
    flex-direction: column;
    align-items: center;
  }

  .bottom-card {
    width: 85%;
  }

  .waiting-section #waiting-title {
    position: static;
    font-size: 1.75rem;
    text-align: center;
    -webkit-text-stroke-color: var(--green);
    padding: 0 1rem;
  }

  /* ********************** Footer **************** */
  footer {
    height: auto;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding: 1rem 1.5rem;
  }

  .footer-container .footer-menus {
    flex-direction: column;
    gap: 0rem;
  }

  .footer-menus h2 {
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .footer-logo {
    width: 6rem;
  }

  .footer-copyright {
    position: relative;
    bottom: 0;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-copyright p {
    text-align: center;
    font-weight: 900;
    padding: 0 1rem;
  }

  /* /***************************** Pages ********************* */

  .pages-container {
    flex-direction: column-reverse;
    justify-content: start;
    min-height: 135vh;
  }

  .left {
    width: 100%;
    padding: 0;
    gap: 1rem;
  }

  .left .left-container {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left h1 {
    font-size: 3rem;
  }

  .right {
    width: 100%;
    height: 16rem;
    justify-content: center;
    margin-top: 4.5rem;
  }

  .right .image-container {
    width: 90%;
    border-radius: 1rem;
    height: 70%;
    margin-top: 0;
  }

  .contact-section {
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-section h1 {
    font-size: 3.5rem;
  }


  /* /***************************** Book Now Form ********************* */
  .book-now-section .book-now-container {
    width: 85%;
  }
}
